<div class="footerBg">
	<div class="cutoff1"></div>
	<div class="cutoff2"></div>
	<div class="footerMain">
		<ul>
			<li>
				<label>多</label>
				<span>品类齐全，轻松购物</span>
		    </li>
		    <li>
				<label>快</label>
				<span>多仓直发，极速配送</span>
		    </li>
		    <li>
				<label>好</label>
				<span>正品行货，精致服务</span>
		    </li>
		    <li>
				<label>省</label>
				<span>天天低价，畅选无忧</span>
		    </li>
		</ul>
	</div>
	<div class="footerSub">
		<div class="nav">
			<span>关于我们</span>
			<i></i>
			<span>联系我们</span>
			<i></i>
			<span>联系客服</span>
			<i></i>
			<span>合作招商</span>
			<i></i>
			<span>友情链接</span>
			<i></i>
			<span>风险监测</span>
			<i></i>
			<span>隐私政策</span>
		</div>
	</div>
	<div class="copyright">Copyright © 2017 </div>

</div>