<div class= "topNavBg"></div>
<div class= "headerBg"></div>
<div id="header">
	<!-- 京东LOGO -->
	<div class="logo" id="backToHomeId"></div> 
	
	<div class="topMenu"> 
		<!-- 顶部导航条 -->
		<div class="nav">
			<div class="city">四川</div>			
			<div class="fr">
				<label>你好，请登录</label>
				<a>免费注册</a>
				<li>我的订单</li>
				<li>我的京东<i class="dropdownIcon"></i></li>
				<li>京东会员</li>	
				<li>企业采购</li>
				<li>客户服务<i class="dropdownIcon"></i></li>
				<li>网站导航<i class="dropdownIcon"></i></li>
				<li>手机京东</li>											
			</div>
		</div>

		<!-- 顶部搜索框 -->
		<div class="seachBox">
			<input type="text" id="seachBoxId" value="小米空气净化器" />
			<input type="button" id ="seachBtnId" class="btn" />
		</div>
		<div class="shopCarNum" id="goToCart">
			<p>我的购物车</p>
			<i>0</i>
		</div>

		<!-- 首页顶部-栏目菜单 -->
		<div class="columnMenu">
			<span></span>
			<ul id= "columnMenuId">				
				<!-- <li>秒杀</li>
				<li>优惠券</li>
				<li>闪购</li>	
				<li>拍卖</li>
				<i></i>
				<li>服装城</li>
				<li>京东超市</li>
				
				<li>生鲜</li>
				<li>全球购</li>
				<i></i>
				<li>京东金融</li> -->

			</ul>
		</div>
	</div>
</div>